.advantages__content {
  @include flex-column-center;
}


.advantages__item {
  @include flex-column-center;

  &--first {
    background-color: $light-grey-blue;
    color: white;
  }

  &--second {
    background-color: $light-grey-blue;
    color: white;
  }

  &--other {
    background-color: $light-grey;
    color: black;
  }
}

.advantages__title {
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.advantages__number {
  color: inherit;
}

.advantages__description {
  color: inherit;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.advantages__img {
  height: 260px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    &--second {
      .advantages__content {
        order: 2;
      }
    }
  }
}

@media (min-width: $desktop-width) {
}
