.emotions {
  margin: 0;
  padding: 0;
}

.emotions__title {
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
}

.emotions__wrap {
  padding: 17px 22px 48px 19px;
}

.emotions__input {
  width: 279px;
  height: 160px;

  background-color: $light-grey;
  border: none;
  padding: 18px 22px;
  resize: none;
}

.emotions__input::placeholder {
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .emotions {
    width: 100%;
  }

  .emotions__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 15px;
    text-align: center;
  }

  .emotions__wrap {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 52px;
  }

  .emotions__input {
    width: 100%;
    padding-top: 15px;
  }
}
