.gallery {
  @include list-style-reset;
}

.gallery__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
}

.gallery__text {
  font-size: 12px;
  line-height: 1.71;
  text-transform: none;
}
