.gallery__link {
  display: block;

  margin-top: 22px;
}

.gallery__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  margin: 0;
  margin-top: 12px;
  padding: 0;
}

.gallery__text {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  text-transform: none;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 320px;
  height: 415px;

  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.gallery__likes {
  margin-top: 10px;
  position: relative;
}

.gallery__like-button {
  width: 0;
  height: 0;

  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.gallery__like-button::before {
  display: inline-block;

  width: 23px;
  height: 21px;

  background: url("../../img/icon-like.svg") no-repeat;
  content: "";
  position: absolute;
  top: -1px;
}

.gallery__count {
  font-size: 14px;
  margin-left: 33px;
}

.gallery__item:first-child {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.gallery__footer {
  width: 280px;
}

.gallery-video__player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gallery-video__controls {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -45px;
}

.gallery-video__description {
  width: 240px;

  text-align: center;
}

.gallery-video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin: 0;
  margin-top: 35px;
  padding: 0;
}

.gallery-video__text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  margin-bottom: 38px;
  margin-top: 25px;
  padding: 0;
}

.gallery-video__image {
  width: 100%;
  height: 201px;

  background-color: olive;
}

.gallery-video__bar {
  width: 280px;
  height: 45px;

  background-color: indigo;
}

.gallery-video__control-buttons {
  width: 280px;
  height: 66px;

  background-color: grey;
}

@media (min-width: $tablet-width) {
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
  }

  .gallery__item:nth-child(1) {
    width: 648px;
  }

  .gallery__footer {
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__item:nth-child(1) {
    width: $desktop-width;
  }
}
