.page-header {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  margin: 0 auto;
}

.main-nav {
  position: relative;
}

.main-nav__close {
  height: 22px;
  position: absolute;
  right: 20px;
  top: 17px;
  width: 23px;
}

.main-nav__item a {
  display: block;

  background-color: $light-grey-blue;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.22;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.main-nav__item a[href] {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav__item a {
    background-color: white;
    color: black;
  }

  .main-header__top {
    background: none;
    position: absolute;
  }

  .main-header__logo-picture {
    height: auto;
    width: 100px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__title {
    height: 360px;
    width: 461px;
  }
}

.page-header__top {
  background: white;
  height: 55px;
  position: relative;
  width: 100%;
}

.page-header__logo {
  left: 35%;
  position: absolute;
  top: 0;
}

.page-header__logo-image {
  height: auto;
  width: 102px;
}

.page-header__intro {
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../../img/bg-intro-triangle-mobile.svg") no-repeat bottom,
  url("../../img/bg-back-mobile@1x.jpg") no-repeat;
  min-height: 389px;
  width: 100%;
}

.page-header__title {
  height: 214px;
  width: 281px;
}

.main-nav__open {
  background: url("../../img/icon-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 23px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 12px;
  width: 23px;
}
