.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main-nav {
  position: relative;
}

.page-header__menu-close {
  height: 22px;
  position: absolute;
  right: 20px;
  top: 17px;
  width: 23px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.main-nav__item a {
  background-color: $light-grey-blue;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  color: white;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.26;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.main-nav__item:not(:first-child) a {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.page-header__top {
  background: white;
  height: 57px;
  position: relative;
  width: 100%;
}

.page-header__logo {
  background: url("../img/logo-sedona-mobile.svg");
  height: 83px;
  left: 34%;
  position: absolute;
  top: 0;
  width: 102px;
}

.page-header__intro {
  align-items: center;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left -224px top 0;
  display: flex;
  height: 389px;
  justify-content: center;
  width: 100%;
}

.page-header__intro--photo,
.page-header__intro--form {
  align-items: flex-start;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat left -224px top -232px;
  display: flex;
  height: 157px;
  justify-content: center;
  width: 100%;
}

.page-header__title {
  height: 214px;
  width: 281px;
}

.page-header__title--photo,
.page-header__title--form {
  height: 39px;
  margin-top: 50px;
  width: 229px;
}

.page-header__menu-open {
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 0;
  cursor: pointer;
  height: 23px;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 13px;
  width: 23px;
}

@media (max-width: $tablet-width - 1px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    min-height: 56px;
  }

  .main-nav__item:not(:first-child) a {
    box-shadow: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 56px;
  }

  .main-nav__item:nth-child(3) {
    margin-left: auto;
  }

  .main-nav__item {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 153px;
  }

  .main-nav__item a {
    background-color: white;
    box-shadow: none;
    color: black;
    font-size: 14px;
  }

  .main-nav__item a[href] {
    box-shadow: none;
  }

  .page-header__menu-open {
    display: none;
  }

  .page-header__menu-close {
    display: none;
  }

  .page-header__top {
    height: auto;
  }

  .page-header__logo {
    left: 43.5%;
    top: -55px;
  }

  .page-header__intro {
    align-items: center;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat;
    display: flex;
    justify-content: center;
    min-height: 518px;
    width: 100%;
  }

  .page-header__intro--photo {
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat left 0 top -227px;
    min-height: 290px;
  }

  .page-header__title {
    height: 350px;
    width: 460px;
  }

  .page-header__title--photo {
    margin-top: -25px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    min-width: 239px;
  }

  .page-header__logo {
    background: url("../img/logo-sedona-desktop.svg");
    height: 96px;
    left: 42.3%;
    position: absolute;
    top: -55px;
    width: 188px;
  }

  .main-header__title {
    height: 360px;
    width: 461px;
  }

  .page-header__intro {
    align-items: center;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat bottom, url("../img/bg-back-desktop@1x.jpg") no-repeat;
    display: flex;
    justify-content: center;
    min-height: 518px;
    width: 100%;
  }

  .page-header__intro--photo {
    min-height: 300px;
  }
}
