.intro {
  display: flex;

  height: 200px;

  margin: 0;
  padding: 0;
}

.intro--photo {
  height: 188px;
}

.intro__content {
  margin: 0 auto;
}

.intro__content--index {
  width: 255px;
  height: 149px;
}

.intro__content--photo {
  width: 272px;
  height: 112px;
}

.intro__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

.intro__description {
  font-size: 14px;
  line-height: 1.9;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  text-align: center;
}

.intro__description--photo {
  line-height: 1.71;
}

@media (min-width: $tablet-width) {
  .intro--photo {
    height: 248px;
  }

  .intro__content {
    width: 490px;
    height: 100px;
  }

  .intro__title {
    font-size: 21px;
    line-height: 1.35;
    margin-top: 48px;
  }

  .map {
    height: 350px;
  }

  .intro__content--photo {
    width: 430px;
    height: 100px;
  }

  .intro__title--photo {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    margin-top: 75px;
  }

  .intro__description--photo {
    margin-top: 7px;
  }
}
