.intro {
  display: flex;

  height: 200px;

  margin: 0;
  padding: 0;
}

.intro__content {
  margin: 0 auto;
}

.intro__content--index {
  width: 255px;
  height: 149px;
}

.intro__content--photo {
  width: 269px;
  height: 112px;
}

.intro__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  text-align: center;
}

.intro__description {
  font-size: 14px;
  line-height: 1.9;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  text-align: center;
}

.gallery-video__top {
  @include flex-column-center;
}

.gallery-video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.gallery-video__text {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.map {
  width: 100%;
  height: 250px;

  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .intro__content {
    width: 490px;
    height: 100px;
  }

  .map {
    height: 350px;
  }
}
