.places {
  margin: 0;
  padding: 0;
}

.places__wrap {
  padding: 23px 20px 42px 20px;
}

.places__title {
  margin-top: 18px;
  margin-bottom: 10px;
}

.places__item {
  position: relative;
}

.places__item:not(:last-child) {
  margin-bottom: 55px;
}

.places__label {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-left: 80px;
  text-transform: initial;
}

.places__label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  border: solid 5px $light-grey;
  background-color: $light-grey;
  left: 0;
  top: -13px;
}

.places__checkbox:checked ~ .places__label::after {
  content: "";
  position: absolute;
  background: url("../../img/icon-tick.svg") no-repeat;
  width: 24px;
  height: 16px;
  left: 16px;
  top: 6px;
}
