.places {
  margin: 0;
  padding: 0;
}

.places__wrap {
  padding: 20px 20px 42px 20px;
}

.places__title {
  margin-top: 18px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
}

.places__item {
  position: relative;
}

.places__item:not(:last-child) {
  margin-bottom: 54px;
}

.places__label {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-left: 80px;
  text-transform: initial;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    border: solid 5px $light-grey;
    background-color: $light-grey;
    left: 0;
    top: -13px;
  }
}

.places__checkbox:checked ~ .places__label::after {
  content: "";
  position: absolute;
  background: url("../../img/icon-tick.svg") no-repeat;
  width: 24px;
  height: 16px;
  left: 16px;
  top: 6px;
}

.places__checkbox:hover ~ .places__label,
.places__checkbox:focus ~ .places__label {
  &::before {
    background-color: $white-four;
    border-color: $white-four;
  }
}

.places__checkbox:active ~ .places__label {
  &::before {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }

  &::after {
    background: url("../../img/icon-tick-four.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .places {
    width: 100%;
  }

  .places__title {
    width: 280px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 25px;
    text-align: center;
    margin-left: 185px;
    letter-spacing: 0.2px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      left: -185px;
      top: 52%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      left: auto;
      right: -185px;
      top: 52%;
    }
  }

  .places__wrap {
    position: relative;
    height: 230px;
  }

  .places__item {
    position: absolute;

    &:nth-child(1) {
      left: 95px;
      top: 50px;
    }

    &:nth-child(2) {
      left: 354px;
      top: 50px;
    }

    &:nth-child(3) {
      left: 95px;
      top: 137px;
    }

    &:nth-child(4) {
      left: 354px;
      top: 137px;
    }
  }
}

@media (min-width: $desktop-width) {
  .places__title {
    margin-top: 27px;
    margin-left: 460px;

    &::before {
      width: 280px;
      left: -340px;
    }

    &::after {
      width: 280px;
      right: -340px;
    }
  }

  .places__wrap {
    position: unset;
    display: flex;
    padding-top: 50px;
    padding-right: 122px;
    padding-left: 122px;
    padding-bottom: 65px;
    justify-content: space-between;
    height: auto;
  }

  .places__item {
    position: relative;

    &:nth-child(n) {
      left: auto;
      top: auto;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
