.places {
  margin: 0;
  padding: 0;
}

.places__wrap {
  padding: 20px 20px 42px 20px;
}

.places__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-bottom: 10px;
  margin-top: 18px;
  text-align: center;
}

.places__top {
  height: 160px;
}

.places__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 54px;
  }
}

.places__label {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-left: 80px;
  text-transform: initial;

  &::before {
    width: 56px;
    height: 56px;

    background-color: $light-grey;
    border: solid 5px $light-grey;
    border-radius: 5px;
    content: "";
    left: 0;
    position: absolute;
    top: -13px;
  }
}

.places__checkbox:checked ~ .places__label::after {
  width: 24px;
  height: 16px;

  background: url("../../img/icon-tick.svg") no-repeat;
  content: "";
  left: 16px;
  position: absolute;
  top: 6px;
}

.places__checkbox:focus ~ .places__label {
  outline: 2px solid $light-grey-blue;
  border-radius: 5px;
}

.places__checkbox:hover ~ .places__label,
.places__checkbox:focus ~ .places__label {
  &::before {
    background-color: $white-four;
    border-color: $white-four;
  }
}

.places__checkbox:active ~ .places__label {
  &::before {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }

  &::after {
    background: url("../img/icon-tick-four.svg") no-repeat;
  }
}

.places__checkbox:disabled ~ .places__label {
  color: rgba($color: #666666, $alpha: 0.3);

  &::before {
    background-color: rgba($color: #666666, $alpha: 0.3);
    border-color: rgba($color: #666666, $alpha: 0.3);
  }

  &::after {
    width: 25px;
    height: 25px;
    top: 5px;
    background-color: mintcream;
    background: url("../img/icon-cross.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .places {
    width: 100%;
  }

  .places__title {
    width: 280px;

    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 1.24;
    margin-left: 185px;
    margin-top: 25px;
    position: relative;
    text-align: center;

    &::before {
      width: 125px;
      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
      content: "";
      left: -185px;
      position: absolute;
      top: 52%;
    }

    &::after {
      width: 125px;
      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
      content: "";
      left: auto;
      position: absolute;
      right: -185px;
      top: 52%;
    }
  }

  .places__wrap {
    display: table;

    width: 100%;
    height: 230px;

    margin: 0 auto;
    padding: 0 60px 55px 55px;
  }

  .places__top {
    display: table-row;

    height: auto;
  }

  .places__bot {
    display: table-row;
  }

  .places__item {
    display: table-cell;

    left: 40px;
    position: relative;
    top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .places__title {
    margin-left: 460px;
    margin-top: 27px;

    &::before {
      width: 280px;

      left: -340px;
    }

    &::after {
      width: 280px;

      right: -340px;
    }
  }

  .places__wrap {
    display: flex;
    justify-content: space-between;

    width: 960px;
    height: 140px;

    padding: 48px 0 0 0;
  }

  .places__top {
    display: flex;
    justify-content: space-between;

    width: 448px;
  }

  .places__bot {
    display: flex;
    justify-content: space-between;

    width: 442px;

    padding-right: 5px;
  }

  .places__item {
    display: inline-block;

    left: 0;
    position: relative;
    top: 0;

    &:not(:last-child) {
      margin: 0;
    }
  }
}
