.proposal__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.proposal__text {
  font-size: 14px;
  line-height: 1.75;
  margin: 0;
  margin-top: 17px;
  padding: 0;
  text-align: center;
}

.proposal__text br {
  display: none;
}

.proposal__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 58px;

  background-color: $light-grey-blue;
  border: none;
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin: 0 auto;
  margin-top: 37px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $white-four;
  }
}

.map {
  height: 350px;

  background: url("../../img/bg-map-mobile@1x.jpg");
  margin-top: 47px;
  position: relative;

  &::after {
    width: 27px;
    height: 27px;

    background-color: $light-grey-blue;
    border: 5px solid white;
    border-radius: 50%;
    content: "";
    left: 145px;
    position: absolute;
    top: 162px;
    z-index: 20;
  }
}

.map iframe {
  width: 100%;
  height: 100%;

  border: none;
  position: absolute;
  z-index: 30;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .map {
    background-image: url("../../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width) {
  .proposal__title {
    font-size: 30px;
    margin-top: 50px;
  }

  .proposal__text {
    margin-top: 27px;
  }

  .proposal__text br {
    display: inline;
  }

  .proposal__button {
    width: 458px;

    margin-top: 42px;
  }

  .map {
    background: url("../../img/bg-map-tablet@1x.jpg");
    margin-bottom: 25px;
    margin-top: 58px;

    &::after {
      left: 370px;
      top: 165px;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../../img/bg-map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .proposal__button {
    width: 458px;

    margin-top: 45px;
  }

  .map {
    background: url("../../img/bg-map-desktop@1x.jpg");
    margin-bottom: 5px;
    margin-top: 65px;

    &::after {
      left: 585px;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map {
      background-image: url("../../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}
