html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  font-family: $base-font-family;
  flex-direction: column;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

.page-wrapper {
  @include container;
}
