@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "common.scss";
@import "blocks/header.scss";
@import "blocks/main.scss";
@import "blocks/advantages.scss";
@import "blocks/features.scss";
@import "blocks/footer.scss";
@import "blocks/gallery.scss";
@import "blocks/proposal.scss";
@import "blocks/review-form.scss";
@import "blocks/person.scss";
@import "blocks/contacts.scss";
@import "blocks/evaluation.scss";
@import "blocks/places.scss";
@import "blocks/emotions.scss";
@import "blocks/popups.scss";
