/* Colors */
$black-shaft: #333333;
$light-grey: #f2f2f2;
$light-grey-blue: #81b3d2;
$white-20: rgba(255, 255, 255, 0.2);
$blue: #669ec0;
$dark-blue: #5496bd;
$dark-grey: #e6e6e6;
$white-four: #e5e5e5;

$controls-quiet: #5c6870;

/* Font */

$base-font-family: "PT Sans", "Arial", sans-serif;

/* Viewport width */

$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dppx: 1.5dppx;
